{
	"useTabs": true, // 탭을 사용하도록 설정 (공백 대신 탭)
	"htmlWhitespaceSensitivity": "ignore", // HTML 공백 감도를 무시
	"tabWidth": 4, // 탭 간격을 4로 설정
	"semi": true, // 세미콜론 추가 여부
	"singleQuote": true, // 작은따옴표 사용
	"printWidth": 120, // 최대 줄 길이
	"singleAttributePerLine": false, // 여러 속성을 한 줄에 유지 (true면 개별 줄로 배치)
	"bracketSameLine": true, // HTML 닫는 괄호를 같은 줄에 배치
	"trailingComma": "es5", // ES5에서 가능한 경우 콤마 추가
	"proseWrap": "never" // 텍스트 내용 자동 줄바꿈 방지
}