body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.sidebar {
    width: 250px;
    height: 100vh; /* 전체 높이 유지 */
    background-color: #2c3e50;
    color: white;
    position: fixed;
    left: 0; /* 왼쪽 여백 제거 */
    top: 0; /* 상단 여백 제거 */
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 20px 20px 0; /* 왼쪽 모서리는 직각, 오른쪽만 둥글게 처리 */
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2); /* 오른쪽 그림자 추가 */
}

/* 사이드바 푸터 스타일 조정 */
.sidebar-footer {
    text-align: right;
    font-size: 14px;
    color: white;
    margin-top: auto; /* 하단 정렬 */
    padding-top: 20px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 20px 0; /* 푸터의 오른쪽 하단 둥글게 처리 */
}


.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul ul {
    padding-left: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar ul li a:hover {
    background-color: #1abc9c;
}

.sidebar ul ul li {
    border-bottom: none;
}

.main-content {
    margin-left: 270px; /* 사이드바 너비와 일치하도록 조정 */
    padding: 20px;
    background-color: #fff;
    border-left: 1px solid #ddd; /* 왼쪽 경계선 추가 */
    height: 100vh; /* 화면 높이에 맞게 고정 */
    overflow-y: auto; /* 내용이 많아지면 스크롤 추가 */
    box-sizing: border-box; /* padding이 전체 너비에 포함되도록 설정 */
}


h1 {
    font-size: 24px;
    color: #2c3e50;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section input {
    padding: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #34495e;
    color: white;
}

.status {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status.green {
    background-color: #2ecc71;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 15px;
    margin: 5px;
}

.hidden {
    display: none;
}

/* 숫자 숨기기 */
.hidden-text {
    display: none;
}

/* 링크 스타일 - 밑줄 제거, 파란색 및 굵은 글씨 */
.custom-link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

/* 방문한 링크 스타일 */
.custom-link:visited {
    color: blue;
}

/* 마우스 클릭 시 링크 색상 유지 */
.custom-link:active,
.custom-link:focus {
    color: blue;
}

/* 앞쪽 아이콘 (항상 보이는 아이콘) */
.fixed-icon {
    width: 20px;  /* 원하는 크기로 조정 */
    height: 20px;
    margin-right: 5px;
    margin-left: 10px;
    vertical-align: middle;
}

/* 뒤쪽 아이콘 (마우스 오버 시 보이는 아이콘) */
.hover-icon {
    width: 16px;  /* 원하는 크기로 조정 */
    height: 16px;
    margin-left: 5px;
    display: none;  /* 기본적으로 숨김 */
    background: none;  /* 배경 없애기 */
    background-color: transparent; /* 배경을 투명하게 */
}

/* 마우스 오버 시 뒤쪽 아이콘 보이도록 설정 */
p:hover .hover-icon {
    display: inline;  /* 아이콘 표시 */
}
